body {
	background: #243340;
	perspective: 500px;
	overflow-x: hidden;
}
figure {
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}
figure:nth-child(1) img {
	transform: scale(0.6) rotate(-12.5deg);
}
figure:nth-child(2) img {
	transform: scale(0.6) rotate(-9.72222deg);
}
figure:nth-child(3) img {
	transform: scale(0.6) rotate(-6.94deg);
}
figure:nth-child(4) img {
	transform: scale(0.6) rotate(-4.16deg);
}
figure:nth-child(5) img {
	transform: scale(0.6) rotate(-1.38deg);
}
figure:nth-child(6) img {
	transform: scale(0.6) rotate(1.38deg);
}
figure:nth-child(7) img {
	transform: scale(0.6) rotate(4.16deg);
}
figure:nth-child(8) img {
	transform: scale(0.6) rotate(6.94deg);
}
figure:nth-child(9) img {
	transform: scale(0.6) rotate(9.72deg);
}
figure:nth-child(10) img {
	transform: scale(0.6) rotate(12.5deg);
}
figure img {
	width: 1280;
	height: 720;
	border-radius: 3px;
}
